// css variables

:root {

    --color-primary: #FFFFFF;
    --color-secondary: #EAF3FA;
    --color-nav-footer: #FFFFFA;
    --color-buttons: #F17B4C;
    --color-faqs: #718CE2;
    --color-block-chain: #FF3366;
    --color-business: #26427F;
    --color-design: #FF312E;
    --color-finance: #32292F;
    --color-marketing: #2EC4B6;
    --color-music: #4B3F72;
    --color-icons: #FFFFFF;

    --transition-all: all 400ms ease-in-out;

    --logo-fs: 2em;
    --fs-h1: 1.7em;
    --fs-h2: 1.3em;
    --icon-fs: 1.1em;

    --border-color: rgba(0, 0, 0, .1);
    --border-nav-radius: .83em;
    --border-common-radius: .2em;

    --shadow-overall:  0 4px 8px 0 rgba(0, 0, 0, 0.2);



}

/************ Hero Section ****************/



// Mixins for  media queries
$tablet: 575px;
$desktop: 860px;
$nav-bar-items: 600px;
$categories: 1110px;

@mixin tablet {
    @media only screen and (min-width: #{$tablet}) {
            
        @content;

    }

}


@mixin desktop {
    @media only screen and (min-width: #{$desktop}) {

        @content;

    }
}

@mixin nav-bar-items {
    @media only screen and (min-width: #{$nav-bar-items}) {

        @content;

    }
}

@mixin categories {
    @media only screen and (min-width: #{$categories}) {

        @content;

    }
}


/************ General styling *****************/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--color-primary);
    transition: var(--transition-all);

    .container {

        margin: 0 2em;

        @include desktop {
            margin: 0 5em;
        }
    
    }


}

.logo {
    font-size: var(--logo-fs);
    font-weight: bold;
    color: black;

    span {
        color: var(--color-buttons);
        
    }
}

img {
    max-width: 100%;
}

.btn {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-buttons);
    color: var(--color-primary);
    padding: .9em 1.5em;
    border-radius: var(--border-common-radius);
    font-size: 1em;

}

/*====================== INDEX PAGE ===========================*/
/************ Navigation *****************/

/************ Mobile Navigation*****************/


header {
    position: fixed;
    top: 0;
    background-color: var(--color-nav-footer);
    width: 100%;
    height: 10vh;
    border-radius: var(--border-nav-radius);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--shadow-overall);
    z-index: 1;

}



.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    nav {
        display: none;

    }

    .nav__toggles {

        display: flex;
        align-items: center;
        gap: 1em;


        .nav__button {
            display: none;
    
            @include nav-bar-items {
    
                display: block;
                padding: .5em 1.5em;
                
    
            }
        }
        
        i {
            font-size: var(--logo-fs);
        }
    }


    @include desktop {


        nav {
            display: block;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                li a {
                    color: black;
                }
                
                li + li {
                    margin-left: 2em;
                
                }
            }
            
        }

        .fa-solid {
                
    
            display: none;

        }

        
        
    }


}


/************ Hero Section ****************/



.container.hero__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10em;
    margin-bottom: 5em;

    .hero__left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 1.5em;
    }

    .hero__right {

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3em;
      

    }

    @include desktop {

        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;

        .hero__left {

            display: flex;
            align-items: flex-start;
            flex-direction: column;
            text-align: left;
            gap: 1.5em;
        }

        .hero__right {

            display: flex;
            align-items: center;
            justify-content: flex-end;
    
        }

    }
    

}


/************ Categories ****************/

section#categories {

    background-color: var(--color-secondary);
    padding: 3em 0 7em;


}

.categories__container {

    display: flex;
    justify-content: center;
    flex-direction: column;

    .categories__left {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 1.5em;
        margin-top: 4em;
        margin-bottom: 4em;


       
        
    }

    .categories__right  {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 2em;
        width: 100%;

        .category {

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1.2em;

            background-color: var(--color-primary);
            border-radius: var(--border-common-radius);
            padding: 5em 2em;
            font-size: .9em;

            span {
    
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2em;
                height: 2em;
                border-radius: 50%;

                i {

                    font-size:  var(--icon-fs);
                    color: white;
                }
            }

            &:nth-child(1) {

                span {
                    background-color: var(--color-block-chain);
                
                }
          
    
            }

            
            &:nth-child(2) {

                span {
                    background-color: var(--color-business);
                
                }
          
    
            }

            &:nth-child(3) {

                span {
                    background-color: var(--color-marketing);
                
                }
          
    
            }

            &:nth-child(4) {

                span {
                    background-color: var(--color-design);
                
                }
          
    
            }

            &:nth-child(5) {

                span {
                    background-color: var(--color-finance);
                
                }
          
    
            }

            &:nth-child(6) {

                

                span {
                    background-color: var(--color-music);
                
                }
          
    
            }


            
        }

        @include nav-bar-items {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: left;

            .category {

                display: flex;
                align-items: flex-start;
                flex-direction: column;
    
                background-color: var(--color-primary);
                border-radius: var(--border-common-radius);

                width: 100%;
                // height: 14rem;
                margin-bottom: 0;

                padding: 5em 2em;

            }


    
    
        }

    }

    @include nav-bar-items {

        gap: 2em;

        .categories__left {
            
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            text-align: left;
            gap: 1.5em;
            margin: 0;
            width: 100%;

        }

    }

    

    @include desktop {
    
        gap: 2em;

        .categories__left {
            
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            text-align: left;
            gap: 1.5em;
            margin: 0;
            width: 100%;

        }

        .categories__right {

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // justify-content: space-around;
            text-align: left;


            .category {

                display: flex;
                align-items: flex-start;
                flex-direction: column;
    
                background-color: var(--color-primary);
                border-radius: var(--border-common-radius);

                width: 100%;
                // height: 14rem;
                margin-bottom: 0;
            }

           
            

        }

        @include categories {
            flex-direction: row;
            align-items: flex-start;

            .categories__left {
        
                width: 30%;
    
            }


        }

    }
    
}


/************ Courses ****************/

section#courses {
    padding: 2.5em 0;
    margin: 0;

    h2 {
        margin-top: 4em;
        margin-bottom: 2em;
        text-align: center;
    }  

}

.container.courses__container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5em;
    margin-bottom: 5em;

    .course {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5em;
        text-align: center;
        background-color: var(--color-secondary);
        border-radius: var(--border-common-radius);
        padding: 2em;
        width: 100%;
        height: 100%;

        .img {
            width: 100%;
            height: 280px;
            background-size: cover;

            img {

                width: 100%;
                height: 100%;
            }
        }

        .course__info {

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1.5em;
            margin-bottom: auto;

            .course__title h3 {
                margin-bottom: auto;
            }

        }

        .course__button {
            padding: .7em 1em;
        }
    }

    
    @include nav-bar-items {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;

        .course {
            
            text-align: left;

            .course__info {
    
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                gap: 1.5em;
                margin-bottom: auto;

                .course__title h3 {
                    margin-bottom: auto;
                }
    
            }

            .course__button {
                align-self: flex-start;
            }

            &:nth-child(3) {
                grid-column: 1/3;
                position: relative;
                left: 50%;
                width: 48%;
                margin-left: -24%;
            }

        }
        

    }

    @include desktop {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;

        .course:nth-child(3) {
            grid-column: 3;
            width: 100%;
            position: static;
            margin-left: auto;
            

        }


    }

}


/************ About ****************/


section#about {

    background-color: var(--color-secondary);
}


.container.about__container {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3em 1em 4em;


    .about__right {

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1.2em;    

        text-align: center;

        h4 {    

            color: var(--color-buttons);

        }

        .about__button {

            margin-top: 1.5em;

        }

    }

    @include desktop {

        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;

        .about__left {

            display: flex;
            align-items: center;
            justify-content: flex-end;
    
        }


        .about__right{

            display: flex;
            align-items: flex-start;
            flex-direction: column;
            text-align: left;
            gap: 1.5em;
        }

        
    }

}



/************ FAQS ****************/

section#faqs {
    padding: 2.5em 0;
    
    h2 {
        margin: 0 .4em 2em;
        text-align: center;
    }

}

.container.faqs__container {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 0 3em;
    gap: 2em;

    .faq {

        display: flex;
        justify-content: center;
        gap: 1em;
        width: 100%;
        
        background-color: var(--color-faqs);
        padding: 2em 1em;
        color: var(--color-primary);
        
        border-radius: var(--border-common-radius);

        font-size: small;
        

        .faq__left {

            display: flex;
            gap: .5em;
            margin-top: .5em;

            .fa-minus {

                display: none;
        
            }
        

        }

        .faq__right {

            display: flex;
            flex-direction: column;
            gap: 1.2em;
        }

    }

    @include nav-bar-items {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    @include desktop {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;

    }

}

/************ TESTIMONIALS ****************/

section#testimonials {

    background-color: var(--color-secondary);
    padding: 2.5em 0;

    h1 {
        margin: 2em 0 3em;
        text-align: center;
    }

}

.container.testimonials__container {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 0 3em;
    gap: 5em;
    
    .testimonial {
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.2em;

        text-align: center;
        padding: 0 2em 2em;

        background-color: var(--color-faqs);
        color: var(--color-primary);
        border-radius: var(--border-common-radius);

        

        img {
            
            width: 5.5em;
            height: 5.5em;
            margin-top: -2.25em;
        }

    }

    @include nav-bar-items {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    @include desktop {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;

    }


}


/************ TESTIMONIALS ****************/

footer {

    background-color: var(--color-nav-footer);
    padding: 2em 0;
    box-shadow: var(--shadow-overall);
    border-radius: var(--border-nav-radius);
    margin-top: -2em;

}

.container.footer__container {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    .footer__item {

        

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: .9em;
        gap: 1.3em;
        
        
        input {
            padding: .4em .5em;
            width: 100%;
            height: 3.5em;
            border: 1px solid var(--border-color);
            border-radius: var(--border-common-radius);
            font-size: .9em;
            text-align: center;


            &:focus {
                outline: solid 1px var(--color-buttons);

            }
        }

        .footer__socials {

            display: flex;
            align-items: center;
            gap: .7em;
            justify-content: center;
            margin-bottom: auto;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.5em;
                height: 2.5em;
                border-radius: 50%;
                color: black;
                text-align: center;
                background-color: var(--color-secondary);
                font-size: 1.3em;
            }


        }

        ul li a {
            color: black;
        }

        .footer__button {
            width: 60%;
            padding: .9em .2em;
        }

    }

    @include nav-bar-items {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;

        .footer__item {

        

            display: flex;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            
            
            input {

                text-align: left;
            }
        }
    }

    @include desktop {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;

        .footer__item {

            .footer__button {
                width: 80%;
                padding: .9em .2em;
            }

        }

    }


}



/*====================== LOGIN PAGE ===========================*/

.login__header {

    background-color: transparent;
    box-shadow: none;

}

.login__body {
    .container {
        
        @include desktop {
            margin: 0 2em 0 0;
            .logo {
                margin-left: 1em;
            }
        }
    
    }


}



.login__toggles {

    .register {

        display: none;
    }

    .register__button {

        font-size: 1em;
        padding: .5em 1em;


    }

    
    @include nav-bar-items {

        .register__button {

            font-size: 1.1em;
            padding: .5em 1.5em;

        }

        .register {

            display: inline-block;
        }


    }
}


.container.login__container {
    
    display: flex;
    align-items: center;


    .login__left {

        display: none;

    }

    .login__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10em;
        gap: 3em;
        width: 100%;
        height: 100%;

        .login__titleinfo {

            h2 {

                margin-bottom:  .6em;
                
            }

        }


        .login__form {

            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: .7em;
            width: 100%;
            height: 28%;   


            input {
                padding: .4em .5em;
                width: 100%;
                height: 3.5em;
                border: 1px solid var(--border-color);
                border-radius: var(--border-common-radius);
                font-size: 1em;


                &:focus {
                    outline: solid 1px var(--color-buttons);

                }

                &#email {

                    margin-bottom: .8em;

                }
    
            }
        }


    }

    @include nav-bar-items {

        .login__right {

            .login__button {
    
                width: 40%;
    
            }


        }

    }

    @include desktop {

        display: grid;
        grid-template-columns: 50% 50%;
        gap: 5em;
        width: 100vw;

        
        .login__left {  

            border: 1px solid var(--border-color);
            border-radius: var(--border-nav-radius);
            display: inline-flex;
            width: 100%;
            height: 100vh;
            background-size: cover;
            border-top: none;
            border-bottom: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            img {
                width: 100%;
            }


    
        }

        .login__right {
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 0;

            .login__form {

                width: 80%;
                padding-right: .5em;
                height: 25%

                input {

                    height: 3em;
                    font-size: 1em;

                }

                
            }

            

        }
       

    }

}

/*====================== REGISTRATION PAGE ===========================*/

.register__header {

    background-color: transparent;
    box-shadow: none;

}

.register__body {
    .container {
        
        @include desktop {
            margin: 0 2em 0 0;
            .logo {
                margin-left: 1em;
            }
        }
    
    }


}



.register__toggles {

    .login {

        display: none;
    }

    .login__button {

        font-size: 1em;
        padding: .5em 1em;


    }

    
    @include nav-bar-items {

        .login__button {

            font-size: 1.1em;
            padding: .5em 1.5em;

        }

        .login {

            display: inline-block;
        }


    }
}


.container.register__container {
    
    display: flex;
    align-items: center;


    .register__left {

        display: none;

    }
    

    .register__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 7em;
        gap: 3em;
        width: 100%;
        height: 100%;


        .register__form {

            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: .7em;
            width: 100%;
            height: 10%;


            input {
                padding: .4em .5em;
                width: 100%;
                height: 3em;
                border: 1px solid var(--border-color);
                border-radius: var(--border-common-radius);
                font-size: 1em;


                &:focus {
                    outline: solid 1px var(--color-buttons);

                }
    
            }
        }


    }

    @include nav-bar-items {

        .register__right {

            .register__button {
    
                width: 40%;
    
            }


        }

    }

    @include desktop {

        display: grid;
        grid-template-columns: 50% 50%;
        gap: 5em;
        width: 100vw;

        
        .register__left {  

            border: 1px solid var(--border-color);
            border-radius: var(--border-nav-radius);
            display: inline-flex;
            width: 100%;
            height: 100vh;
            background-size: cover;
            border-top: none;
            border-bottom: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            img {
                width: 100%;
            }

        }

        .register__right {
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 0;

            .register__titleinfo {

                h2 {

                    margin-bottom:  .6em;
                    
                }

            }

            .register__form {

                width: 80%;
                height: 40%;
                
                padding-right: .5em;

                input {

                    height: 3em;
                    font-size: 1em;

                }

                
            }

            

        }
       

    }

}