:root {
  --color-primary: #FFFFFF;
  --color-secondary: #EAF3FA;
  --color-nav-footer: #FFFFFA;
  --color-buttons: #F17B4C;
  --color-faqs: #3457D5;
  --color-block-chain: #FF3366;
  --color-business: #26427F;
  --color-design: #FF312E;
  --color-finance: #32292F;
  --color-marketing: #2EC4B6;
  --color-music: #4B3F72;
  --color-icons: #FFFFFF;
  --transition-all: all 350ms ease;
  --logo-fs: 2em;
  --fs-h1: 1.7em;
  --fs-h2: 1.3em;
  --icon-fs: 1.1em;
  --border-color: rgba(0, 0, 0, .1);
  --border-nav-radius: .83em;
  --border-common-radius: .2em;
  --shadow-overall:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --button-hover: #E1AD01;
}

/************ Hero Section ****************/
/************ General styling *****************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--color-primary);
  -webkit-transition: var(--transition-all);
  transition: var(--transition-all);
}

body .container {
  margin: 0 2em;
}

@media only screen and (min-width: 860px) {
  body .container {
    margin: 0 5em;
  }
}

.logo {
  font-size: var(--logo-fs);
  font-weight: bold;
  color: black;
}

.logo span {
  color: var(--color-buttons);
}

img {
  max-width: 100%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: var(--color-buttons);
  color: var(--color-primary);
  border: 2px solid var(--color-buttons);
  padding: .7em 1.5em;
  border-radius: var(--border-common-radius);
  font-size: 1em;
  -webkit-transition: var(--transition-all);
  transition: var(--transition-all);
}

.btn:hover {
  background-color: var(--color-primary);
  border: 2px solid var(--color-buttons);
  color: var(--color-buttons);
}

.nav__login {
  background-color: var(--color-primary);
  border: 2px solid var(--color-buttons);
  color: var(--color-buttons);
}

.nav__login:hover {
  background-color: var(--color-buttons);
  color: var(--color-primary);
  border: 2px solid var(--color-buttons);
}

/* Message Classes */
.display__none {
  display: none;
}

.form__message {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 4em;
  right: 2em;
  left: 2em;
  height: auto;
  background-color: var(--color-primary);
  border-radius: var(--border-common-radius);
  -webkit-box-shadow: var(--shadow-overall);
          box-shadow: var(--shadow-overall);
  z-index: 15;
  font-size: 1em;
}

.form__message .success__side {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  background-color: #53BE62;
  border-radius: var(--border-common-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form__message .success__side i {
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 2em;
  color: var(--color-primary);
}

.form__message .message__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  margin: .4em 1em;
  width: 80%;
}

.form__message .message__container p:nth-child(1) {
  font-weight: normal;
}

.form__message .message__container p:nth-child(2) {
  font-weight: lighter;
  font-size: .8em;
}

.form__message .message__container p:nth-child(2) strong {
  text-transform: capitalize;
}

.form__message .close__button {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 2em;
}

.form__message .close__button p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
}

.form__message .close__button p:hover {
  color: tomato;
}

@media only screen and (min-width: 860px) {
  .form__message {
    right: 5em;
    left: 5em;
  }
}

.error {
  display: none;
}

.form__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  color: #D8000C;
  background-color: #FFD2D2;
  border-radius: var(--border-common-radius);
  height: auto;
  width: 100%;
  font-size: .8em;
  text-align: center;
}

@media only screen and (min-width: 860px) {
  .form__error {
    width: 100%;
  }
}

/*====================== INDEX PAGE ===========================*/
/************ Navigation *****************/
/************ Mobile Navigation*****************/
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5em;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-color: transparent;
  z-index: 15;
}

@media only screen and (min-width: 860px) {
  header {
    height: 3.5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header.top.scrolled {
  background-color: var(--color-nav-footer);
  -webkit-box-shadow: var(--shadow-overall);
          box-shadow: var(--shadow-overall);
}

.nav__toggled {
  height: 55%;
  background-color: var(--color-primary);
  -webkit-box-shadow: var(--shadow-overall);
          box-shadow: var(--shadow-overall);
}

.nav__toggled .container.nav__container nav {
  display: block;
}

@media only screen and (min-width: 860px) {
  .nav__toggled {
    height: 10vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container.nav__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "logo toggles" "navArea navArea";
  margin-top: .2em;
}

.container.nav__container .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.container.nav__container nav {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: navArea;
  margin-top: 2em;
  padding-left: .1em;
  height: 100%;
}

.container.nav__container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.container.nav__container nav ul a {
  color: black;
}

.container.nav__container nav ul a:hover {
  color: var(--color-buttons);
}

.container.nav__container nav .nav__button__inside {
  font-size: .8em;
  padding: .7em .5em;
  width: 40%;
  margin-top: .7em;
}

.container.nav__container nav .nav__button__inside.nav__login {
  width: 30%;
}

@media only screen and (min-width: 600px) {
  .container.nav__container nav .nav__button__inside {
    display: none;
  }
}

.container.nav__container .nav__toggles {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: toggles;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  justify-self: end;
}

.container.nav__container .nav__toggles i {
  font-size: var(--logo-fs);
}

.container.nav__container .nav__toggles .nav__button {
  display: none;
}

@media only screen and (min-width: 600px) {
  .container.nav__container .nav__toggles .nav__button {
    display: block;
    padding: .3em 1.3em;
  }
}

@media only screen and (min-width: 860px) {
  .container.nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: unset;
  }
  .container.nav__container nav {
    display: block;
    margin-top: unset;
    height: unset;
    padding-left: unset;
  }
  .container.nav__container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: unset;
  }
  .container.nav__container nav ul li a {
    color: black;
  }
  .container.nav__container nav ul li + li {
    margin-left: 2em;
  }
  .container.nav__container .fa-solid {
    display: none;
  }
}

/************ Hero Section ****************/
.container.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10em;
  margin-bottom: 5em;
}

.container.hero__container .hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 1.5em;
}

.container.hero__container .hero__left h1 {
  font-size: 1.5em;
}

.container.hero__container .hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3em;
}

@media only screen and (min-width: 860px) {
  .container.hero__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3em;
    margin-bottom: 2.5em;
  }
  .container.hero__container .hero__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    gap: 1.5em;
  }
  .container.hero__container .hero__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/************ Categories ****************/
section#categories {
  background-color: var(--color-secondary);
  padding: 3em 0 7em;
}

.categories__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories__container .categories__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 1.5em;
  margin-top: 4em;
  margin-bottom: 4em;
}

.categories__container .categories__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 2em;
  width: 100%;
}

.categories__container .categories__right .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2em;
  background-color: var(--color-primary);
  border-radius: var(--border-common-radius);
  padding: 2em 2em;
  font-size: .9em;
  -webkit-box-shadow: var(--shadow-overall);
          box-shadow: var(--shadow-overall);
}

.categories__container .categories__right .category span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.categories__container .categories__right .category span i {
  font-size: var(--icon-fs);
  color: white;
}

.categories__container .categories__right .category:nth-child(1) span {
  background-color: var(--color-block-chain);
}

.categories__container .categories__right .category:nth-child(2) span {
  background-color: var(--color-business);
}

.categories__container .categories__right .category:nth-child(3) span {
  background-color: var(--color-marketing);
}

.categories__container .categories__right .category:nth-child(4) span {
  background-color: var(--color-design);
}

.categories__container .categories__right .category:nth-child(5) span {
  background-color: var(--color-finance);
}

.categories__container .categories__right .category:nth-child(6) span {
  background-color: var(--color-music);
}

@media only screen and (min-width: 600px) {
  .categories__container .categories__right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .categories__container .categories__right .category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--color-primary);
    border-radius: var(--border-common-radius);
    width: 100%;
    margin-bottom: 0;
    padding: 2em 1em;
  }
}

@media only screen and (min-width: 600px) {
  .categories__container {
    gap: 2em;
  }
  .categories__container .categories__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    gap: 1.5em;
    margin: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 860px) {
  .categories__container {
    gap: 2em;
  }
  .categories__container .categories__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    gap: 1.5em;
    margin: 0;
    width: 100%;
  }
  .categories__container .categories__right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    text-align: left;
  }
  .categories__container .categories__right .category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--color-primary);
    border-radius: var(--border-common-radius);
    width: 100%;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 860px) and (min-width: 1110px) {
  .categories__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .categories__container .categories__left {
    width: 30%;
  }
}

/************ Courses ****************/
section#courses {
  padding: 2.5em 0;
  margin: 0;
}

section#courses h2 {
  margin-top: 4em;
  margin-bottom: 2em;
  text-align: center;
}

.container.courses__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5em;
  margin-bottom: 5em;
}

.container.courses__container .course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
  text-align: center;
  background-color: var(--color-secondary);
  border-radius: var(--border-common-radius);
  padding: 0 0 2em 0;
  width: 100%;
  -webkit-box-shadow: var(--shadow-overall);
          box-shadow: var(--shadow-overall);
}

.container.courses__container .course .img {
  width: 100%;
  height: 250px;
  background-size: cover;
}

.container.courses__container .course .img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: var(--border-common-radius);
  border-top-right-radius: var(--border-common-radius);
}

.container.courses__container .course .course__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
  margin-bottom: auto;
  margin-left: 2em;
  margin-right: 2em;
}

.container.courses__container .course .course__info .course__title h3 {
  margin-bottom: auto;
}

.container.courses__container .course .course__button {
  padding: .5em 1em;
  margin-left: 2em;
  margin-right: 2em;
}

@media only screen and (min-width: 600px) {
  .container.courses__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  .container.courses__container .course {
    text-align: left;
  }
  .container.courses__container .course .course__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5em;
    margin-bottom: auto;
  }
  .container.courses__container .course .course__info .course__title h3 {
    margin-bottom: auto;
  }
  .container.courses__container .course .course__button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .container.courses__container .course:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    position: relative;
    left: 50%;
    width: 48%;
    margin-left: -24%;
  }
}

@media only screen and (min-width: 860px) {
  .container.courses__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
  .container.courses__container .course:nth-child(3) {
    -ms-grid-column: 3;
    grid-column: 3;
    width: 100%;
    position: static;
    margin-left: auto;
  }
}

/************ About ****************/
section#about {
  background-color: var(--color-secondary);
}

.container.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 1em 4em;
}

.container.about__container .about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2em;
  text-align: center;
}

.container.about__container .about__right h4 {
  color: var(--color-buttons);
}

.container.about__container .about__right .about__button {
  margin-top: 1.5em;
}

@media only screen and (min-width: 860px) {
  .container.about__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container.about__container .about__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .container.about__container .about__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    gap: 1.5em;
  }
}

/************ FAQS ****************/
section#faqs {
  padding: 2.5em 0;
}

section#faqs h2 {
  margin: 0 .4em 2em;
  text-align: center;
}

.container.faqs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 3em;
  gap: 2em;
}

.container.faqs__container .faq.faq__answer .faq__right p {
  display: block;
}

.container.faqs__container .faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  width: 100%;
  background-color: var(--color-faqs);
  padding: 2em 1em;
  color: var(--color-primary);
  border-radius: var(--border-common-radius);
  font-size: small;
  -webkit-box-shadow: var(--shadow-overall);
          box-shadow: var(--shadow-overall);
}

.container.faqs__container .faq .faq__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5em;
  margin-top: .5em;
}

.container.faqs__container .faq .faq__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2em;
}

.container.faqs__container .faq .faq__right p {
  display: none;
}

@media only screen and (min-width: 600px) {
  .container.faqs__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (min-width: 860px) {
  .container.faqs__container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
}

/************ TESTIMONIALS ****************/
section#testimonials {
  background-color: var(--color-secondary);
  padding: 2.5em 0;
  height: 100%;
  width: 100%;
}

section#testimonials h1 {
  margin: 2em 0 3em;
  text-align: center;
}

.container.testimonials__container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
  height: 100%;
  padding: 0 0 5em;
}

.container.testimonials__container .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2em;
  text-align: center;
  padding: 0 2em 2em;
  margin-top: 3em;
  background-color: var(--color-faqs);
  color: var(--color-primary);
  border-radius: var(--border-common-radius);
  -webkit-box-shadow: var(--shadow-overall);
          box-shadow: var(--shadow-overall);
}

.container.testimonials__container .testimonial img {
  width: 5.5em;
  height: 5.5em;
  margin-top: -2.25em;
  z-index: 1;
}

/************ FOOTER ****************/
footer {
  background-color: var(--color-nav-footer);
  padding: 2em 0;
  -webkit-box-shadow: var(--shadow-overall);
          box-shadow: var(--shadow-overall);
  margin-top: -2em;
}

.container.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.container.footer__container .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: .9em;
  gap: 1.3em;
}

.container.footer__container .footer__item input {
  padding: .4em .5em;
  width: 100%;
  height: 3.5em;
  border: 1px solid var(--border-color);
  border-radius: var(--border-common-radius);
  font-size: .9em;
  text-align: center;
}

.container.footer__container .footer__item input:focus {
  outline: solid 1px var(--color-buttons);
  border: none;
}

.container.footer__container .footer__item .footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .7em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: auto;
}

.container.footer__container .footer__item .footer__socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  color: black;
  text-align: center;
  background-color: var(--color-secondary);
  font-size: 1.3em;
}

.container.footer__container .footer__item .footer__socials a:hover {
  color: var(--color-buttons);
}

.container.footer__container .footer__item ul li a {
  color: black;
}

.container.footer__container .footer__item ul li a:hover {
  color: var(--color-buttons);
}

.container.footer__container .footer__item .footer__button {
  width: 60%;
  padding: .9em .2em;
}

@media only screen and (min-width: 600px) {
  .container.footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .container.footer__container .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .container.footer__container .footer__item input {
    text-align: left;
  }
}

@media only screen and (min-width: 860px) {
  .container.footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 2em;
  }
  .container.footer__container .footer__item .form__error {
    width: 100%;
  }
  .container.footer__container .footer__item .footer__button {
    width: 80%;
    padding: .7em .2em;
  }
}

/*====================== REGISTRATION PAGE =========================== AND ====================== LOGIN PAGE ===========================*/
.register__body, .login__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em 2em 2.5em;
}

@media only screen and (min-width: 600px) {
  .register__body, .login__body {
    padding: 3em 5em 3em;
  }
}

@media only screen and (min-width: 860px) {
  .register__body, .login__body {
    padding: 2em 13em;
  }
}

.register__header, .login__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.register__container, .login__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-secondary);
  border-radius: var(--border-common-radius);
}

@media only screen and (min-width: 860px) {
  .register__container, .login__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 65% 35%;
        grid-template-columns: 65% 35%;
  }
  .register__container .register__right, .register__container .login__right, .login__container .register__right, .login__container .login__right {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: 100%;
  }
}

.register__container .register__left, .register__container .login__left, .login__container .register__left, .login__container .login__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
  padding: 2em;
}

@media only screen and (min-width: 860px) {
  .register__container .register__left, .register__container .login__left, .login__container .register__left, .login__container .login__left {
    width: 90%;
    padding: 2em 2em 2em 6em;
  }
}

.register__container .register__left .register__titleinfo, .register__container .register__left .login__titleinfo, .register__container .login__left .register__titleinfo, .register__container .login__left .login__titleinfo, .login__container .register__left .register__titleinfo, .login__container .register__left .login__titleinfo, .login__container .login__left .register__titleinfo, .login__container .login__left .login__titleinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register__container .register__left .register__titleinfo h2, .register__container .register__left .login__titleinfo h2, .register__container .login__left .register__titleinfo h2, .register__container .login__left .login__titleinfo h2, .login__container .register__left .register__titleinfo h2, .login__container .register__left .login__titleinfo h2, .login__container .login__left .register__titleinfo h2, .login__container .login__left .login__titleinfo h2 {
  text-align: left;
}

.register__container .register__left .register__form, .register__container .register__left .login__form, .register__container .login__left .register__form, .register__container .login__left .login__form, .login__container .register__left .register__form, .login__container .register__left .login__form, .login__container .login__left .register__form, .login__container .login__left .login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.register__container .register__left .register__form .form__item, .register__container .register__left .login__form .form__item, .register__container .login__left .register__form .form__item, .register__container .login__left .login__form .form__item, .login__container .register__left .register__form .form__item, .login__container .register__left .login__form .form__item, .login__container .login__left .register__form .form__item, .login__container .login__left .login__form .form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .3em;
}

.register__container .register__left .register__form .form__item label, .register__container .register__left .login__form .form__item label, .register__container .login__left .register__form .form__item label, .register__container .login__left .login__form .form__item label, .login__container .register__left .register__form .form__item label, .login__container .register__left .login__form .form__item label, .login__container .login__left .register__form .form__item label, .login__container .login__left .login__form .form__item label {
  font-weight: lighter;
}

.register__container .register__left .register__form .form__item input, .register__container .register__left .login__form .form__item input, .register__container .login__left .register__form .form__item input, .register__container .login__left .login__form .form__item input, .login__container .register__left .register__form .form__item input, .login__container .register__left .login__form .form__item input, .login__container .login__left .register__form .form__item input, .login__container .login__left .login__form .form__item input {
  border: none;
  height: 3.5em;
  padding-left: 1em;
  border-radius: var(--border-common-radius);
}

.register__container .register__left .register__form .form__item input:focus, .register__container .register__left .login__form .form__item input:focus, .register__container .login__left .register__form .form__item input:focus, .register__container .login__left .login__form .form__item input:focus, .login__container .register__left .register__form .form__item input:focus, .login__container .register__left .login__form .form__item input:focus, .login__container .login__left .register__form .form__item input:focus, .login__container .login__left .login__form .form__item input:focus {
  outline: solid 1px var(--color-buttons);
  border: none;
  background-color: var(--color-primary);
}

.register__container .register__left .register__form .form__item input:-webkit-autofill, .register__container .register__left .register__form .form__item input:-webkit-autofill:hover, .register__container .register__left .register__form .form__item input:-webkit-autofill:focus, .register__container .register__left .register__form .form__item input:-webkit-autofill:active, .register__container .register__left .login__form .form__item input:-webkit-autofill, .register__container .register__left .login__form .form__item input:-webkit-autofill:hover, .register__container .register__left .login__form .form__item input:-webkit-autofill:focus, .register__container .register__left .login__form .form__item input:-webkit-autofill:active, .register__container .login__left .register__form .form__item input:-webkit-autofill, .register__container .login__left .register__form .form__item input:-webkit-autofill:hover, .register__container .login__left .register__form .form__item input:-webkit-autofill:focus, .register__container .login__left .register__form .form__item input:-webkit-autofill:active, .register__container .login__left .login__form .form__item input:-webkit-autofill, .register__container .login__left .login__form .form__item input:-webkit-autofill:hover, .register__container .login__left .login__form .form__item input:-webkit-autofill:focus, .register__container .login__left .login__form .form__item input:-webkit-autofill:active, .login__container .register__left .register__form .form__item input:-webkit-autofill, .login__container .register__left .register__form .form__item input:-webkit-autofill:hover, .login__container .register__left .register__form .form__item input:-webkit-autofill:focus, .login__container .register__left .register__form .form__item input:-webkit-autofill:active, .login__container .register__left .login__form .form__item input:-webkit-autofill, .login__container .register__left .login__form .form__item input:-webkit-autofill:hover, .login__container .register__left .login__form .form__item input:-webkit-autofill:focus, .login__container .register__left .login__form .form__item input:-webkit-autofill:active, .login__container .login__left .register__form .form__item input:-webkit-autofill, .login__container .login__left .register__form .form__item input:-webkit-autofill:hover, .login__container .login__left .register__form .form__item input:-webkit-autofill:focus, .login__container .login__left .register__form .form__item input:-webkit-autofill:active, .login__container .login__left .login__form .form__item input:-webkit-autofill, .login__container .login__left .login__form .form__item input:-webkit-autofill:hover, .login__container .login__left .login__form .form__item input:-webkit-autofill:focus, .login__container .login__left .login__form .form__item input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.register__container .register__left .register__left-bottom, .register__container .register__left .login__left-bottom, .register__container .login__left .register__left-bottom, .register__container .login__left .login__left-bottom, .login__container .register__left .register__left-bottom, .login__container .register__left .login__left-bottom, .login__container .login__left .register__left-bottom, .login__container .login__left .login__left-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .7em;
  font-size: 1em;
}

.register__container .register__left .register__left-bottom span p, .register__container .register__left .login__left-bottom span p, .register__container .login__left .register__left-bottom span p, .register__container .login__left .login__left-bottom span p, .login__container .register__left .register__left-bottom span p, .login__container .register__left .login__left-bottom span p, .login__container .login__left .register__left-bottom span p, .login__container .login__left .login__left-bottom span p {
  font-weight: lighter;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.register__container .register__left .register__left-bottom span .login__button, .register__container .register__left .register__left-bottom span .register__button, .register__container .register__left .login__left-bottom span .login__button, .register__container .register__left .login__left-bottom span .register__button, .register__container .login__left .register__left-bottom span .login__button, .register__container .login__left .register__left-bottom span .register__button, .register__container .login__left .login__left-bottom span .login__button, .register__container .login__left .login__left-bottom span .register__button, .login__container .register__left .register__left-bottom span .login__button, .login__container .register__left .register__left-bottom span .register__button, .login__container .register__left .login__left-bottom span .login__button, .login__container .register__left .login__left-bottom span .register__button, .login__container .login__left .register__left-bottom span .login__button, .login__container .login__left .register__left-bottom span .register__button, .login__container .login__left .login__left-bottom span .login__button, .login__container .login__left .login__left-bottom span .register__button {
  color: var(--color-buttons);
}

.register__container .register__left .register__left-bottom .login__button:hover, .register__container .register__left .register__left-bottom .register__button:hover, .register__container .register__left .login__left-bottom .login__button:hover, .register__container .register__left .login__left-bottom .register__button:hover, .register__container .login__left .register__left-bottom .login__button:hover, .register__container .login__left .register__left-bottom .register__button:hover, .register__container .login__left .login__left-bottom .login__button:hover, .register__container .login__left .login__left-bottom .register__button:hover, .login__container .register__left .register__left-bottom .login__button:hover, .login__container .register__left .register__left-bottom .register__button:hover, .login__container .register__left .login__left-bottom .login__button:hover, .login__container .register__left .login__left-bottom .register__button:hover, .login__container .login__left .register__left-bottom .login__button:hover, .login__container .login__left .register__left-bottom .register__button:hover, .login__container .login__left .login__left-bottom .login__button:hover, .login__container .login__left .login__left-bottom .register__button:hover {
  font-weight: 700;
  color: black;
}

.register__container .register__right, .register__container .login__right, .login__container .register__right, .login__container .login__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .6em;
  padding: 2em;
  border-radius: var(--border-common-radius);
  background-color: var(--color-faqs);
  color: var(--color-primary);
}

.register__container .register__right .logo, .register__container .register__right h3, .register__container .register__right p, .register__container .login__right .logo, .register__container .login__right h3, .register__container .login__right p, .login__container .register__right .logo, .login__container .register__right h3, .login__container .register__right p, .login__container .login__right .logo, .login__container .login__right h3, .login__container .login__right p {
  text-align: center;
  color: var(--color-primary);
  width: 90%;
}

.register__container .register__right .register__right-bottom, .register__container .register__right .login__right-bottom, .register__container .login__right .register__right-bottom, .register__container .login__right .login__right-bottom, .login__container .register__right .register__right-bottom, .login__container .register__right .login__right-bottom, .login__container .login__right .register__right-bottom, .login__container .login__right .login__right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
}

.register__container .register__right .register__right-bottom a, .register__container .register__right .login__right-bottom a, .register__container .login__right .register__right-bottom a, .register__container .login__right .login__right-bottom a, .login__container .register__right .register__right-bottom a, .login__container .register__right .login__right-bottom a, .login__container .login__right .register__right-bottom a, .login__container .login__right .login__right-bottom a {
  color: var(--color-buttons);
  font-size: 1.1em;
  border-bottom: 2px solid var(--color-primary);
  font-weight: 600;
}

.register__container .register__right .register__right-bottom a:hover, .register__container .register__right .login__right-bottom a:hover, .register__container .login__right .register__right-bottom a:hover, .register__container .login__right .login__right-bottom a:hover, .login__container .register__right .register__right-bottom a:hover, .login__container .register__right .login__right-bottom a:hover, .login__container .login__right .register__right-bottom a:hover, .login__container .login__right .login__right-bottom a:hover {
  color: black;
  font-weight: 600;
  padding-right: .5em;
}
/*# sourceMappingURL=index.css.map */